<div class = "page">
  <form action="/folders/{{folder.id}}" method="post">
    <h1>Edit Folder Title</h1>
    <div>
    <input type="text" name="title" id="folder-title" value="{{folder.title}}" required autocomplete="off">
  </div>
    <button type="submit">Submit</button>
  </div>
</div>

<a href="/folders" class="back-btn"><button>⬅</button></a>
