<div class = "page">
  <form action="/folders/{{folder.id}}" method="post">
    <legend>Edit Folder</legend>
    <div>
    <input type="text" name="title" id="folder-title" value="{{folder.title}}">
  </div>
    <button type="submit">Submit</button>
  </div>
</div>

<a href="/folders" class="back-btn"><button>< Back</button></a>
