<div class="page">
  <h1>My Folders</h1>

  <div class="row">
    {{#each folders as |folder|}}
    <!-- <div class="col-sm-4"> -->
      <div class="card text-center">
          <img class="mx-auto" src="../img/foldericon.png" height=30px width=35px>
          <a href="/folders/{{folder.id}}">{{folder.title}}</a>
      </div>
    <!-- </div> -->
    {{/each}}
  </div>

  <a href = "/folders/new"><button>+</button></a>
</div>
