<div class="page">
  <h1>My Folders</h1>
  <ul>
    {{#each folders as |folder|}}
      <li>
        <a href="/folders/{{folder.id}}">{{folder.title}}</a> | <a href="/folders/{{folder.id}}/edit">edit</a>
      </li>
    {{/each}}
  </ul>
  <a href = "/folders/new"><button>+</button></a>
<div>
