<div>
  <h2>My Folders</h2>
</div>

<div>
  <ul>
    {{#each folders as |folder|}}
      <div class = "card plus-card border-info" style="width: 18rem;">
          <a href="/folders/{{folder.id}}">{{folder.title}}</a> | <a href="/folders/{{folder.id}}/edit">edit</a>
      </div>
    {{/each}}
  </ul>
  <a class="btn btn-outline-secondary new" href = "/folders/new">+</a>
<div>
