<div class="page">
  <h1>My Folders</h1>

    {{#each folders as |folder|}}

    <div class = "card border-white">

        <img src = "../img/foldericon.png" height=30px width=35px>

        <a href="/folders/{{folder.id}}">{{folder.title}}</a>

    </div>

    {{/each}}

  <a href = "/folders/new"><button>+</button></a>
</div>
