<div class="page">
  <h1>My Folders</h1>

  <div class="row">
    {{#each folders as |folder|}}
    <!-- <div class="col-sm-4"> -->
    <a href="/folders/{{folder.id}}">
      <div class="card text-center">
        <div class="mx-auto"></div>
          <img class="folder-icon" src="../img/foldericon1.png" onmouseover="this.src='../img/folder-icon.png';" onmouseout="this.src='../img/foldericon1.png';" height=30px width=35px>
          <a href="/folders/{{folder.id}}">{{folder.title}}</a>
      </div>
    </a>
    <!-- </div> -->
    {{/each}}
  </div>

  <a href = "/folders/new"><button>New Folder</button></a>
</div>
