<div>
  <form action="/folders" method="post">
    <legend>New Folder</legend>

    <div class="form-group">
      <label for="folder-title">Title</label>
      <input type="text" name="title" class="form-control" id="folder-title" placeholder="Title" required autocomplete="off">
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
