<div class="page">
  <form action="/folders" method="post">
    <legend>New Folder</legend>
    <input type="text" name="title" id="folder-title" placeholder="Title">
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
