<div class="page">
  <form action="/folders" method="post">
    <h1>New Folder</h1>
    <input class="form" type="text" name="title" id="folder-title" placeholder="Title" autocomplete="off">
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<a href="/folders" class="back-btn"><button>⬅</button></a>
