<div class="page">
  <form action="/folders" method="post">
    <h1>New Folder</h1>
    <input type="text" name="title" id="folder-title" placeholder="Title">
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<a href="/folders" class="back-btn"><button>< Back</button></a>
