<div class="login page">
  <form action="/login" method="post">
    <h1>Log In</h1>

    <div>
      <input class="form" type="text" name="username" id="user-username" placeholder="username">
    </div>

    <div>
      <input class="form" type="password" name="password" id="user-password" placeholder="password">
    </div>

    <button type="submit">Log In</button><br></br>
    <p>Don't have an account? <a href="/users/new" style="font-weight: bold">Sign Up</a></p>
  </form>
  <div class="login-box"></div>
</div>
