body {
  font: 14px "HelveticaNeue";
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0;
  color: #434343;
}

button {
  border: 1.5px solid #434343;
  font: 14px "HelveticaNeue", serif;
  font-weight: bold;
  margin: .5em .5em;
  outline: none;
  color: #434343;
  background-color: transparent;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  border-color: #3cba33ff;
  color: #3cba33ff;
}

button:focus {
  outline: none;
}

a {
  color: #191919;
  cursor: pointer;
  text-decoration: none!important;
}

a:hover {
  color: #434343;
}

input, textarea {
  color: #434343;
  font: 14px "HelveticaNeue", serif;
  margin: .5em 0;
  border: 1.5px solid #434343;
  outline: none!important;
  padding: 5px 10px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
}

.page {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  background-color:transparent;
  border: 0px solid;
  border-bottom: 1.5px solid #434343;
}

.create-account, .login {
  margin-top: 0!important;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.back-btn {
  background-color: #fff;
  position: fixed;
  top: 80px;
  left: 30px;
}

/* Nav Bar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 50px;
  align-items: center;
  padding: 2.5px 10px 2.5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid #efefef 1.5px;
}

.title {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  margin-right: .1em;
}

/* Landing Page */
.parallax {
  background-image: linear-gradient(#3cba33ff, #fff);
  min-height: 400px;
  padding: 20em;
  width: 100%;
  margin-top: -10px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.typer {
  font-size: 30px;
}

.tagline {
  margin-top: -20px;
  margin-bottom: 20px;

  font-size: 20px;
}

.welcome-title{
  padding-bottom: 2em!important;
}

.second-section {
  padding: 6em 0;
  color: #434343;
}

.second-section h3 {
  padding-bottom: 3em;
  font-style: italic;
}

.second-section h4 {
  padding-top: 2em;
}

.second-section h5 {
  font-style: italic;
}

.card {
  border: 1.5px solid #434343;
  background-color: white;
  padding: 1em;
  margin: 1em;
}

.card:hover {
  border-color: #3cba33ff;
}

/* New Post */
.new-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.new-post input {
  width: 50em;
}

.new-post textarea {
  width: 50em;
}

/* Folder Index */
.folder-icon {
  margin-bottom: .5em;
}
