<body>
  <div class="create-account page">
    <form action="/users" method="post">
      <h1>Create Account</h1>
      <div>
        <input class="form" type="text" required name="username" id="user-username" placeholder="Username" autocomplete="off">
      </div>

      <div>
        <input class="form" type="password" required name="password" id="user-password" placeholder="Password" autocomplete="off">
      </div>

      <div>
        <input class="form" type="password" required id="confirm_password" placeholder="Confirm Password" autocomplete="off">
      </div>

      <script>
        var password = document.getElementById("user-password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
          } else {
            confirm_password.setCustomValidity('');
          }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
      </script>

      <button type="submit">Sign Up</button><br></br>
      <p>Have an account? <a href="/login" style="font-weight: bold">Log In</a></p>
    </form>
  </div>
  <div class="create-box"><div>
</body>
