<div class="page new-post text-center">
  <form action="/folders/{{folder.id}}/files" method="post">
    <legend>New File</legend>
    <div>
      <input class="form" type="text" required name="title" id="file-title" placeholder="Title" autocomplete="off">
    </div>
    <div>
      <textarea id="file-description" required name="description" rows='4' placeholder="Write a description about the code snippet. Feel free to include the language, the original source project, etc..."></textarea>
    </div>
    <div>
      <textarea id="file-body" required name="body" rows='20' placeholder="Write or paste in some code..."></textarea>
    </div>
      <button type="submit">Finish</button>
    </div>
  </form>
</div>

<a href="/folders/{{folder.id}}" class="back-btn"><button>< Back</button></a>
